<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.software_engineering_305">

    <!-- App needs permission to access Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Main Activity declaration -->
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Scan Activity Declaration -->
        <activity android:name=".activities.ScanActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"
            />
        <!-- Settings Activity Declaration -->
        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ScanActivity"></activity>
        <!-- Bluetooth Service Declaration -->
        <service android:name=".services.BluetoothService"></service>
    </application>

</manifest>